:root {
    --main-color: #9FC2CC;
    --highlight-color: #331832;
    --second-color: #694D75;
    --third-color: #1B5299;
    --background-color: #F1ECCE;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Quicksand', Arial;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 60%;
    border-radius: 8px;
    background-color: var(--main-color);
    gap: 30px;
    padding: 20px 0;
}

#title {
    color: var(--highlight-color);
    font-size: 46px;
}

#grid {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
}

.square {
} 

.verticalControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

input[type=range] {
    -webkit-appearance: none;
    background: var(--second-color);
    outline: none;
    border-radius: 50px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: var(--main-color);
    overflow: visible;
    cursor: pointer;
  }
  

button {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: var(--second-color);
    border-color: var(--second-color);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:hover {
    color: #fff;
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.active {
    color: #fff;
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

